.form{

	&__group{
		font-family: inherit;
		color: inherit;
		
		&:not(:last-child){
			margin-bottom: 1.3rem;
		}
	}

	&__input{
		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		border-radius: 0.3rem;
		background-color: rgba($color-white, 0.5);
		border: none;
		border-bottom: 0.3rem solid transparent;
		width: 90%;
		display: block;
		transition: all 0.3s;

		@include respond(tab-p){
			width: 100%;
		}

		&::-webkit-input-placeholder{
			color: $color-grey-dark-2;
		}

		&:focus{
			outline: none;
			box-shadow: 0 2rem 2rem rgba($color-black, 0.1);
			border-bottom: 0.3rem solid $color-primary;
		}

		&:focus:invalid{
			border-bottom: 0.3rem solid $color-secondary-dark;
		}
	}

	&__label{
		padding: 0.7rem 2rem;
		font-size: 1.2rem;
		font-weight: 700;
		display: block;
		transition: all 0.3s;
	}

	&__input:placeholder-shown + &__label{
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	
	&__radio-group{
		width: 49%;
		display: inline-block;

		@include respond(tab-p){
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	&__radio-input{
		display: none;
	}

	&__radio-label{
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 4rem;
	}

	&__radio-btn{
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-primary;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 0;
		top: -0.45rem;

		&::after{
			content: "";
			display: block;
			border-radius: 50%;
			position: absolute;
			height: 1.3rem;
			width: 1.3rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-primary;
			opacity: 0;
			transition: all 0.2s;
		}
	}

	&__radio-input:checked + &__radio-label &__radio-btn::after{
		opacity: 1;
	}
}














