.story{
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	background-color: $color-white;
	border-radius: 0.3rem;
	padding: 6rem 6rem 6rem 9rem;
	font-size: $default-font-size;

	transform: skewX(-9deg);

	& > *{
		transform: skewX(9deg);
	}

	&__shape{
		width: 15rem;
		height: 15rem;
		float: left;
		position: relative;

		transform: translateX(-3rem) skewX(9deg);

		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);

		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
	}

	&__image{
		height: 100%;
		transform: translateX(-3rem) scale(1.2);
		backface-visibility: hidden;
		transition: all 0.2s;
	}

	&__caption{
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		transform: translate(-50%, 20%);
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		transition: all 0.3s;
		backface-visibility: hidden;
	}

	&:hover &__caption{
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__image{
		transform: translateX(-3rem) scale(1);
		filter: blur(5px) brightness(80%);
	}
}















