*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	//default 1rem = 16px / 16px;
	//This defines what 1rem is, 1rem = 10px;
	font-size: 62.5%;

	@include respond(big-desktop){
		font-size: 75%; //1rem = 12px
	}

	@include respond(tab-l){
		font-size: 56.25%; //1rem = 9px
	}
	
	@include respond(tab-p){
		font-size: 50%; //1rem = 8px
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-p){
		padding: 0;
	}
}