.u-center-text{
	text-align: center !important;
}

.u-margin-bottom-big{
	margin-bottom: 8rem !important;

	@include respond(tab-p){
		margin-bottom: 5rem !important;
	}
}

.u-margin-bottom-medium{
	margin-bottom: 4rem !important;

	@include respond(tab-p){
		margin-bottom: 3rem !important;
	}
}

.u-margin-bottom-small{
	margin-bottom: 1.5rem !important;

	@include respond(tab-p){
		margin-bottom: 1rem !important;
	}
}

.u-margin-top-big{
	margin-bottom: 8rem !important;

	@include respond(tab-p){
		margin-bottom: 5rem !important;
	}
}

.u-margin-top-huge{
	margin-bottom: 10rem !important;

	@include respond(tab-p){
		margin-bottom: 8rem !important;
	}
}