.section-about{
	background-color: $color-grey-light-1;
	padding: 20rem 0 30rem 0;
	margin-top: -10vh;
}

.section-features{
	padding: 20rem 0;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.7), 
		rgba($color-primary-dark,0.7)) , 
		url(../img/nat-4.jpg);
	background-size: cover;
	margin-top: -10rem;
	transform: skewY(-2.5deg);

	& > *{
		transform: skewY(2.5deg);
	}
}

.section-tours{
	background-color: $color-grey-light-1;
	padding: 23rem 0;
	margin-top: -10rem;
}