.section-about{
	background-color: $color-grey-light-1;
	padding: 20rem 0 30rem 0;
	margin-top: -10vh;
}

.section-features{
	padding: 20rem 0;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.7), 
		rgba($color-primary-dark,0.7)) , 
		url(../img/nat-4.jpg);
	background-size: cover;
	margin-top: -10rem;
	transform: skewY(-2.5deg);

	& > *{
		transform: skewY(2.5deg);
	}
}

.section-tours{
	background-color: $color-grey-light-1;
	padding: 23rem 0 7rem 0;
	margin-top: -10rem;
}

.section-stories{
	padding: 23rem 0 7rem 0;
	margin-top: -10rem;
	position: relative;
}

.section-book{
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
	background-image: linear-gradient(
			102.5deg, 
			rgba($color-white, 0.9) 0%, 
			rgba($color-white, 0.9) 50%,
			transparent 50%), 
		url(../img/nat-10.jpg);
	background-size: cover;
	border-radius: 0.3rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
	height: 50rem;
	
	&__form{
		height: 100%;
		width:50%;
		padding: 3rem 5rem;
	}
}